# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\amine\Desktop\S3 Projects\EzzaouiRahaliHamza_HajaziSoufiane_JamaiMohammedAmine_KahlaouiIsmail\Backend - JEE\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
