.Nav{
    position: fixed;
    top: 0;
    height: 100%;
    padding: 2%;
    box-shadow: 0.5em 0 .7em rgb(241, 241, 241), -0.5em 0 .7em rgb(233, 233, 233);
}

.BottomNav{
    position: absolute; 
    bottom: 0px; 
}
.BottomNav1{
    position: absolute; 
    bottom: 7%; 
}

.nav a{
    color:#868686;
}

.nav li{
    padding: 3%;
}